<html>
	<head>
		<title>Online Ordering System Install</title>
		<meta charset="utf8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
		<link href="../css/bootstrap.min.css" rel="stylesheet" media="screen">
		<link href='http://fonts.googleapis.com/css?family=Archivo+Narrow:400,700|Oxygen:400,700' rel='stylesheet' type='text/css'>
		<link href="../css/styles.css" rel="stylesheet">
	</head>
	<body>
		<div id="bg" class="container-fluid">
			<a name="top"></a>
			<header id="header" class="row-fluid">
				<div class="span12">
					<h1>Finished Installation Part 2</h1>
					<p>Congratulations</p>
				</div>
			</header>
			<section id="main" class="row-fluid">
				<div class="span2">&nbsp;</div>
				<div class="span8">
					<p>Well done. Your style should have been applied to the site and your images should be visible. Please cheack as you will need to mail in replacement files if any changes are necessary.</p>
					<p>The relevant people have been informed of the milestone.</p>
					<p><a href="%LINK%" title="Home Page">Check my styling</a></p>
				</div>
				<div class="span2">&nbsp;</div>
			</section>
		</div>
	</body>
</html>